# All environment variables needed for running Submissions API
# Ensure these are passed to docker-compose with the --env-file option

# These are for the submissions-db (or a non-docker database in the case of staging or production)
POSTGRES_USER=submissions-dev
POSTGRES_PASSWORD=submit-that-stuff
POSTGRES_DB=submissions_local
POSTGRES_HOST=submissions-db
POSTGRES_PORT=5432

# Location of the Submissions API from the point of view of the submissions-ui docker container (i.e. the internal port)
# This is used to proxy api calls to the actual api docker container
SUBMISSIONS_API_LOCATION=http://submissions-api

# Database connection string (you shouldn't need to change this unless using a non-postgres database)
DB_URI=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}

# Elixir (authentication) service details
ELIXIR_CLIENT_ID=<Elixir Submissions client ID>
ELIXIR_CLIENT_SECRET=<Elixir Submissions client secret>
ELIXIR_REDIRECT_URI=http://localhost:3003/callback
ELIXIR_JWK=<JWK for Elixir>

# ToLID service - this is used for checking species and creating ToLIDs
TOLID_URL=https://id-staging.tol.sanger.ac.uk/api/v2

# ENA contact details - used in XML submissions to ENA
ENA_CONTACT_NAME=Sanger Tree of Life Enabling Platforms Team
ENA_CONTACT_EMAIL=<test-email-address>
