amqp==5.0.5
asgiref==3.3.1
billiard==3.6.3.0
bleach==3.3.0
celery==5.0.5
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
decorator==4.4.2
Django==3.1.7
django-tools==0.48.3
et-xmlfile==1.0.1
icdiff==1.9.1
idna==2.10
isodate==0.6.0
jdcal==1.4.1
jsonpath-rw==1.4.0
jsonpath-rw-ext==1.2.2
kombu==5.0.2
lxml==4.6.2
numpy==1.20.1
openpyxl==3.0.6
packaging==20.9
pandas==1.2.3
pbr==5.5.1
pexpect==4.8.0
ply==3.11
pprintpp==0.4.0
prompt-toolkit==3.0.16
ptyprocess==0.7.0
pymongo==3.11.3
pyparsing==2.4.7
python-dateutil==2.8.1
pytils==0.3
pytz==2021.1
rdflib==5.0.0
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
tools==0.1.9
urllib3==1.26.3
vine==5.0.0
wcwidth==0.2.5
webencodings==0.5.1
xlrd==2.0.1
